<h1>Scraper App</h1>

<p>Here are the current articles from realclearpolitics.com:</p>

{{!-- <ul>
  {{#each articles}}
  	<li>
      <p data-id={{this.dbArticles._id}}>{{this.dbArticles.title}}<br>{{this.dbArticles.link}}</p>
  	</li> --}}



      {{!-- <h2>Add a Comment</h2>

<form class="create-form">

  <div class="form-group">
    <label for="quo">Comment:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Comment</button>
</form> --}}



  {{!-- {{/each}}
</ul> --}}

